<%= stylesheet_link_tag 'templates/index' %>

<header>
  <div class="blog-title">
    Darien Jonathan's<span>#thelazyblog</span><br><br>
    -Jack of the trades who likes to share his treads-
  </div>
  <div id="sns-link">
    <a href="https://github.com/darienjonathan/thelazyblog">
      <img src=<%= asset_path "sns/github.png" %>>darienjonathan/thelazyblog
    </a>
    <a href="https://instagram.com/darienjonathan">
      <img src=<%= asset_path "sns/ig.png" %>>@darienjonathan
    </a>
  </div>
</header>
<content>
<%= raw index_grid_box @blogs %>
</content>
<script>
  $(function(){
    $(document).foundation();
  });
  if(window.matchMedia('(max-width: 600px)').matches) {
    $('header').css("height", window.innerHeight*0.8);
    $('.blog-title').css("padding-top", window.innerHeight*0.15);
    $('.columns').css("height", window.innerHeight*0.6);
  }
</script>
