<%= stylesheet_link_tag 'templates/index' %>

<header>
  <div>
    Darien Jonathan's<span>#thelazyblog</span><br><br>
    -Jack of the trades who likes to share his treads-
  </div>
</header>
<%= raw index_grid_box @blogs %>