<p class="signature">
  DARIEN JONATHAN<br>
  ダリエン ジョナサン<br><br>
  Thankyou for reading! God bless you all!<br>
</p>
<a href="/blogs/"><button class="close-button" type="button">
  <span aria-hidden="true">Back to Main Page</span>
</button></a>