<% 
  lang_link = {
    "id" => "<td class=\"lang\" id=\"lang_id\" width=\"200px\">Bahasa Indonesia</td>",
    "en" => "<td class=\"lang\" id=\"lang_en\" width=\"100px\">English</td>",
    "jp" => "<td class=\"lang\" id=\"lang_jp\" width=\"100px\">日本語</td>"
  }
%>
<table class="lang_wrapper"><tr>
  <% lang.each do |lk| %>
    <%= raw lang_link[lk] %>
  <% end %>
</tr></table>