@import '../lib/fonts';

body{
  font-family: 'Lato', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

/* post */
.post{
  max-width: 100vw;
  margin: 0 20px 0 20px;
  display: block !important;
}

.content{
  margin: 30px 50px 30px 50px;
  text-align: justify;
}

@media (max-width: 600px){
  .content{
    margin: 30px 10px 30px 10px;
  }
}

.normal-img{
   margin: 0 auto;
   padding: 10px 0 10px 0;
   display: block;
}
.small-img{
   margin: 0 auto;
   display: block;
   max-height: 300px;
}

/* Language */
.id, .jp{
  display: none;
}

/* YouTube iframe */
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}