<div class = "row">
  <% for i in (blogs.length-1).downto(0) do %>
  <div class = "small-12 large-4 columns">
    <div class = "section-title"><%= blogs[i].title %></div>
    <div class = "section-brief">
      <span style="float:right"><%= blogs[i].created_at %></span><br><br>
      <%= raw blogs[i].summary %>
      <%= link_to "Read More・続きを読む", blogs[i] %>
    </div>
  </div>
  <% end %>
</div>