@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
body{
  font-family: 'Lato', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

/* post */
.post{
  max-width: 100vw;
  margin: 20px;
  display: block !important;
}
  .hero{
    height: 100vh;
    margin: -20px;
    position: relative;
  }
    .title{
      padding: 20px 20px 10px 20px;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.75);
    }
    .lang{
      text-align:center;
      cursor: pointer;
    }

    .lang
      #lang_en:hover, #lang_id:hover, #lang_jp:hover{
        color: red;
      }
    .hero-content{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-weight: bold;
      color: white;
      background-color: rgba(0,0,0,0.25);
      padding: 50px;
    }
      .part{
        font-size: 1.5rem;
      }
      .hero-text{
        font-size: 3rem;
      }

  /*END - HERO*/

  .post>div{
    font-size: 0.9em;
  }
  .post>h1{
    font-family: 'Raleway', sans-serif;
  }
    .post>div>span{
      font-size: 1.1em;
      font-family: 'Merriweather', sans-serif;
    }

.content{
  margin: 50px;
  text-align: justify;
}
.image{
  width: 100vw;
  display: inline;
  margin: 10px 0 10px 0;
  box-sizing: border-box;
}

@media (max-width: 600px){
  .hero-content{
    padding: 20px;
  }
  .hero-text{
    font-size: 2rem;
  }
  .content{
    margin: 50px 10px 50px 10px;
  }
}

.close-button{
  font-size: 1.1rem;
}

.signature{
  text-align: center;
  font-weight: bold;
}

.fb_button{
  left: 50%;
  transform: translateX(-50%);
}

/* Text Styles */
.topic-title{
  font-weight: bold;
  font-size: 1.2rem;
}
.bold{
  font-weight: bold;
}
.underline{
  text-decoration: underline;
}
ul>li{
  text-align: justify;
}

/* Language */
.id, .jp{
  display: none;
}