.hero {
  position: relative;
  background-position: center center;
  background-size: cover;

  .blog-name-tag {
    padding: 40px 20px 10px 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.75);
    .blog-tag {
      font-size: 1.1em;
      font-family: 'Merriweather', sans-serif;
    }

    .lang_wrapper {
      margin: 0 auto;
      border-collapse: collapse;
      border-style: hidden;

      .lang {
        text-align: center;
        cursor: pointer;
        color: red;
        -webkit-transition: color 0.15s linear;
          -moz-transition: color 0.15s linear;
          -ms-transition: color 0.15s linear;
          -o-transition: color 0.15s linear;
          transition: color 0.15s linear;
        &:hover, &.active {
          color: turquoise;
        }
      }
    }
  }

  //blog that has hero
  .hero-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 50px;
    .hero-text {
      font-family: 'Prociono', serif;
      font-size: 3.5rem;
    }
  }

  //blog that doesn't have hero
  .heroless-title {
    font-family: 'Prociono', serif;
    font-size: 2rem;
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px){
  .hero > .hero-content {
    padding: 20px;
    .hero-text {
      font-size: 2rem;
    }
  }


  .hero .blog-name-tag .lang_wrapper {
    font-size: 0.9rem;
    margin: 15px auto 5px;
  }
}

@media screen and (min-width: 601px){
  .lang_wrapper {
    td {
      border: 2px solid black;
    }
  }
}
